@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    background-color: #000807;
    color: #FBF9FF;
    font-family: "Audiowide", sans-serif;
}
body{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 100px; /* pari all’altezza del titolo */
}
.porta_tit{
    background-color: #000807;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid #FBF9FF;
}
.title{
    padding-left: 1.25%;
    background-color: #000807;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.title:hover{
    filter: none;
}
.title2{
    letter-spacing: 1px;
}
.tit{
    letter-spacing: 0.25px;
}
.giorno{
    margin-top: 20px;
    font-size: 10px;
    padding: 0px;
}
.riga1{
    margin-top: 10px;
    margin-bottom: 40px;
}
.riga2{
    margin-top: 40px;
    margin-bottom: 40px;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
.inid{
    text-align: center;
}
.mt{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
i{
    transition: all 0.35s;
}
i:hover{
    transform: scale(1.75);
    transition: all 0.2s;
}
a{
    background-color:#00080700;
    transition: all 0.2s;
}
i{
    background-color: #00080700;
}
a:hover{
    filter: drop-shadow(0px 0px 5px #B3B7EE);
    transition: all 0.2s;
}
.pol {
    position: fixed !important;
    bottom: 10%;
    width: 100%;
    left: 0%;
    text-align: center !important;
    background-color: #FBF9FF;
    cursor: pointer; /* Indica che è cliccabile */
    opacity: 1; /* Opacità iniziale */
    transition: opacity 0.5s ease; /* Transizione per l'effetto di opacità */
    z-index: 2;
    box-shadow: 0 0 40px #9395d3;
}

.pol.hidden {
    opacity: 0;
    pointer-events: none; /* Rende l'elemento non cliccabile */
}

.pol-sc1, .pol-sc2, .pol-sc3{
    background-color: #fbf9ff00;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color:#262626;
}
.pol-sc1{
    margin-bottom: 0px;
    
}
.pol-sc2{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 10px;
}
.pol-sc3{
    margin-top: 5px;
}
.tab{
    letter-spacing: 3px;
    text-align: center; 
}
.no-li{
    text-decoration: none;
    color:#262626;
    background-color: #ded2f500;
    padding-left: 45%;
    padding-right: 45%;
}
.sfocato{
    filter:blur(10px);
    z-index: 1;
    transition: all 1s;
    margin-top: -100px;
}
.noscroll {
    overflow: hidden;
    height: 100vh; /* Impedisce di scrollare anche se il contenuto è lungo */
}
.warn-sc{
    background-color: #9395d3;
    color: #000807;
    margin-top: 0px;
}
